@import 'open-props/style';

:root {
  --text-color: var(--gray-8);
  --darker-color: var(--gray-10);
  --link-color: var(--indigo-6);
  --light-color: #fff;
  --gray-color: var(--gray-8);
  --background-color: #f4f4f4;
  --sidebar-border-color: var(--gray-4);
  --transition: 0.3s all var(--ease-2);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Geist, sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Geist', sans-serif;
  color: var(--darker-color);
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  color: var(--link-color);
  margin: 0 0 4rem 0;
}

h2 {
  padding-top: 2rem;
  font-size: 2rem;
}

h3 {
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

a {
  color: var(--link-color);
}

code {
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  background: var(--gray-4);
}

#container {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.toc {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  background: var(--gray-2);
  border-right: solid 1px var(--sidebar-border-color);
  overflow-y: auto;
  min-width: 300px;
  color: var(--light-color);

  display: grid;
  grid-template-rows: 1fr auto;
}

.toc ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;

  ul {
    padding-left: 1rem;
  }

  a {
    border-radius: var(--radius-2);
    padding: var(--size-1) var(--size-3);
  }

  a:hover {
    background: var(--gray-3);
  }
}

.toc nav {
  padding: var(--size-3);
}

.toc .bottom {
  padding: var(--size-2);
  border-top: solid 1px var(--sidebar-border-color);
  color: var(--gray-3);
  
  a {
    border-radius: var(--radius-2);
    transition: var(--transition);
    width: min-content;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    padding: var(--size-1);

    &:hover {
      background-color: var(--gray-3);
      color: var(--gray-8)
    }

  }
}

.toc nav > ul > li > a {
  color: var(--gray-12);
}

.toc nav > ul > li {
  margin-bottom: 1rem;
}

.toc a {
  display: block;
  padding: 0.2rem;
  color: var(--gray-7);
  text-decoration: none;
}

main {
  padding: 4rem 6rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  max-width: 80ch;
}

pre {
  font-family: 'Geist Mono', monospace;
  border-radius: 5px;
  overflow-x: scroll;
}

pre::-webkit-scrollbar {
  height: 10px;
}

pre::-webkit-scrollbar-track {
  background: #0001;
  padding: 1rem;
}

pre::-webkit-scrollbar-thumb {
  background-color: #0002;
  border-radius: 1rem;
  width: 5px;
}

button {
  cursor: pointer;
}
